<section class="payment-success">
    <h1 class="display-6 text-success">Your order has been placed successfully</h1>

    <h5 class="h5 mt-5 mb-3">Payment Details</h5>
    <div>
        <p class="mb-1">Payment Id : <strong>sdf</strong></p>
        <p class="mb-1">Payment Type: <strong>sfsdf</strong></p>
        <p class="mb-1">Last 4 digit : <strong>sdfsf</strong></p>
    </div>
    

    <h5 class="h5 mt-5">Order Product</h5>
    <div>
        <div class="card table-responsive">
            <table class="table">
                <thead class="table-light">
                    <tr>
                        <th scope="col">Image</th>
                        <th scope="col">Product Details</th>
                        <th scope="col">Qty</th>
                        <th scope="col" class="text-end">Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">
                            <img class="order-img" src="" alt="" />
                        </th>
                        <td>
                            <p><strong>sdfsdf</strong></p>
                            <p>sdfsdf</p>
                            <p>fdsdf</p>
                        </td>
                        <td>
                            <p class="qty">1</p>
                        </td>
                        <td align="right">
                            <p class="price">dfsf</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>