<div class="p-5">
    <h1 class="display-5">Product Details</h1>
    <div class="product-details d-flex align-items-center">
        <button class="btn btn-secondary d-inline-flex me-2">
            <span class="material-icons-outlined">
                chevron_left
            </span>
        </button>
        <div class="card w-100 p-2">
            <span class="badge rounded-pill bg-danger position-absolute high">High Demand</span>
            <div class="row">
                <div class="col-5">
                    <div class="d-flex">
                        <div class="large-img me-2">
                            <img src="" class="img-thumbnail mb-2" alt="..." />
                        </div>
                        <div class="other-imgs">
                            <img src="" class="img-thumbnail mb-2" alt="..." />
                        </div>
                    </div>
                </div>
                <div class="col-7">
                    <div class="card-body">
                        <h5 class="card-title">fss</h5>
                        <p class="card-text">sdf</p>
                        <p><strong>Listing :</strong> df</p>
                        <p><strong>Book Type :</strong> sdf</p>
                        <p><strong>Grade :</strong> sd</p>
                        <p><strong>Qty (Instock) :</strong> 32</p>
                        <p class="h3 mt-2">234</p>

                        <button class="btn btn-primary mt-2">Buy Now</button>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-secondary d-inline-flex ms-2 disabled">
            <span class="material-icons-outlined">
                chevron_right
            </span>
        </button>
    </div>

    <div class="">
        <h2 class="mt-5 h4 mb-2">Customer Review</h2>
        <app-product-review></app-product-review>
    </div>

</div>