<div class="p-5 pt-3">
    <h1 class="display-5">Product List</h1>
    <div class="row">
        <div class="col-lg-12">
            <div class="product-list">
                <app-product-list></app-product-list>
            </div>
        </div>
    </div>

    <div class="customer-review">
        <h2 class="mt-5 h4 mb-2">Upcoming Product</h2>
        <div class="row">
            <div class="col-lg-12">
                <div class="product-list">
                    <app-upcoming-products></app-upcoming-products>
                </div>
            </div>
        </div>
    </div>
    
</div>