<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <span class="navbar-brand">
            <img src="" alt="Logo" width="140" />
        </span>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a href="#" class="nav-link">Product</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">About</a>
                </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <span class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="Bootstrap" width="25" />
                    </span>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item">
                            Banti Shaw
                            <p class="small mb-0">bantyshaw@gmail.com</p>
                        </li>
                        <li class="dropdown-item c-pointer">Sign Out</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>